* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    background-color: darkblue;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    gap: 5px;
}

.flex {
    width: 100%;
    height: 50vh;
    background-color: black;
}
.flex img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
